In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [40]:
df = pd.read_csv('desafio1.csv', index_col = 0)

In [41]:
df.head()

,id,sobrenome,pontuacao_credito,estado_residencia,genero,idade,nivel_estabilidade,saldo_conta,numero_produtos,possui_cartao_de_credito,membro_ativo
RowNumber,,,,,,,,,,,
1,e7f44fcbd380d4cef7e6c232cc7e37895c3fd197,6d6e0aa1b9b413e442e2fb68df14b4fc3f91de50,619,SC,F,42,2,0.00,1,1,1
2,28dcb083ad90512da16b9430085c2cddb8ca5e12,48e1ad846796fa314f1b4a6702b83343eb5482c5,608,RS,F,41,1,83807.86,1,0,1
3,774bc378f787438c9c7594e536787d07a097a54b,f2b29d5d934de615812b697132e767dea0f1e9e2,502,SC,F,42,8,159660.80,3,1,0
4,043a71326f7096de155e7f0c559dc62b5e4b7239,85d5c9da7cddd8109ad32a6c348fe2bb10bf99f2,699,SC,F,39,1,0.00,2,0,0
5,37b3bb8ca243955fb3605ec7e1c2a4607cdb3b22,ddc89c837a6933639de75f28171057060bd322df,850,RS,F,43,2,125510.82,1,1,1

In [42]:
df.dtypes

id                           object
sobrenome                    object
pontuacao_credito             int64
estado_residencia            object
genero                       object
idade                         int64
nivel_estabilidade            int64
saldo_conta                 float64
numero_produtos               int64
possui_cartao_de_credito      int64
membro_ativo                  int64
dtype: object

In [43]:
df['estado_residencia'].value_counts()

SC    3519
RS    1750
PR    1731
Name: estado_residencia, dtype: int64

In [44]:
df.isna().sum()

id                          0
sobrenome                   0
pontuacao_credito           0
estado_residencia           0
genero                      0
idade                       0
nivel_estabilidade          0
saldo_conta                 0
numero_produtos             0
possui_cartao_de_credito    0
membro_ativo                0
dtype: int64

## Neste desafio você encontrará

- Moda;
- Mediana;
- Média;
- Desvio padrão.

In [61]:
moda = df.groupby('estado_residencia')['pontuacao_credito'].agg(pd.Series.mode)
moda

estado_residencia
PR    850
RS    850
SC    850
Name: pontuacao_credito, dtype: int64

In [50]:
media = df.groupby('estado_residencia')['pontuacao_credito'].mean()
media

estado_residencia
PR    648.961294
RS    651.105143
SC    649.537653
Name: pontuacao_credito, dtype: float64

In [57]:
mediana = df.groupby('estado_residencia')['pontuacao_credito'].median()
mediana

estado_residencia
PR    650
RS    650
SC    653
Name: pontuacao_credito, dtype: int64

In [52]:
std = df.groupby('estado_residencia')['pontuacao_credito'].std()
std

estado_residencia
PR    98.607186
RS    95.136598
SC    97.233493
Name: pontuacao_credito, dtype: float64

In [62]:
submission = {
    state:{
        'moda':moda[state],
        'media':media[state],
        'mediana':mediana[state],
        'desvio_padrao':std[state],
    }for state in media.index
}
submission

{'PR': {'moda': 850,
  'media': 648.9612940496822,
  'mediana': 650,
  'desvio_padrao': 98.60718591309755},
 'RS': {'moda': 850,
  'media': 651.1051428571428,
  'mediana': 650,
  'desvio_padrao': 95.1365984138358},
 'SC': {'moda': 850,
  'media': 649.5376527422563,
  'mediana': 653,
  'desvio_padrao': 97.23349279343314}}

In [66]:
submission = pd.DataFrame(submission)
submission

                       PR          RS          SC
moda           850.000000  850.000000  850.000000
media          648.961294  651.105143  649.537653
mediana        650.000000  650.000000  653.000000
desvio_padrao   98.607186   95.136598   97.233493

In [67]:
submission.to_json('submissionTest.json')